@font-face {
  font-family: 'Almarai-Regualr';
  src: url('../fonts/Almarai-Regular.ttf');
}

@font-face {
  font-family: 'Almarai-Light';
  src: url('../fonts/Almarai-Light.ttf');
}

@font-face {
  font-family: 'Almarai-Bold';
  src: url('../fonts/Almarai-Bold.ttf');
}

@font-face {
  font-family: 'Almarai-ExtraBold';
  src: url('../fonts/Almarai-ExtraBold.ttf');
}
