.view-returns {
  .view-returns-title {
    font-weight: 700;
    background-color: #f7f7f7;
    padding: 26px 24px;
    margin: 0;
    margin-bottom: 42px;
  }
  .view-return-card {
    border: 1px solid #e1e1e1;
    padding: 1rem;
    margin-bottom: 1rem;
    .item__recap {
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 16px;
      .view-return-img {
        position: relative;
        input[type='checkbox'] {
          position: absolute;
          right: 0.625rem;
          top: 0.625rem;
          width: 19px;
          height: 18px;
          accent-color: #fff;
          color: red;
        }
      }
      .view-details {
        p {
          padding: 0;
        }
        .weight {
          padding-top: 10px;
          margin-bottom: 16px;
        }
      }
    }
    .return-reason {
      width: 100%;
      padding: 0;
      padding: 1rem;

      padding-inline-start: 1rem;
      border: 1px solid #e3e3e3;
    }
  }
  .shippment-details {
    border: 1px solid #e1e1e1;
    .shippment-title {
      font-size: 16px;
      color: $info;
      font-weight: 700;
      background: #f7f7f7;
      padding: 1.5rem;
    }
    .shippment-info {
      padding: 1.5rem;
    }
  }
  .order-summary {
    border: 1px solid #e1e1e1;
    .order-summary-title {
      padding: 24px;
      background: #f7f7f7;
      .pill {
        color: $info;
        font-size: 16px;
        font-weight: 700;
      }
      .badge {
        padding: 0;
        font-size: 14px;
        font-weight: 700;
        padding: 8px 10px;
      }
    }
    .order-summary-info {
      padding: 24px 20px 0;
      .cart-summary {
        .card-title {
          margin-bottom: 16px;
        }
        tr {
          td {
            font-size: 16px;
          }
        }
      }
    }
  }
  .cart-summary {
    .card {
      border: 0;
    }
    .card-title {
      margin: 0 !important;
    }
  }
  .return-confirm {
    margin-bottom: 4.5rem;
  }
}
